@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #e5ddd7;
}

.nav1 a {
    color: black;
    font-weight: bold;
    font-size: 2em; 
}


ul.nav a:hover {
    color: #ac7c6e !important;
}

.nav1 {
    padding: 2em;

}

.cardcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10em;   
}
.maincard {
    max-width: 80em;
    flex-direction: row;

}
.maincard img {
    max-width: 50%;
    margin: auto;
    padding: 0.5em;
    border-radius: 1em;


}
.maincard h2 {
   color: #322d2c; 
   padding-top: 2em;
}

.maincard p {
    color: #322d2c;
    padding-top: 2em;
    padding-right: 2em;
}

.maincard-body {
    display: flex;
    justify-content: space-between;
}

.text-section {
    max-width: 100%;

}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding-top: 5em;
}

.row {
    padding-right: 5em;
    padding-top: 2em;
}

.card_educ img {
    max-width: 50%;
    padding-left: 2em;
}

.main_totalcard {
    padding-left: 3em;
    padding-bottom: 10em;
}

section {
    padding: 5em;
}


footer {
    background-color: #322d2c;
    display: flex;
justify-content: center;
flex-wrap: wrap;
}

i {
    color: #e5ddd7;
    font-size: 200%;
}


footer p {
    color: #e5ddd7;
    padding-left: 1em;
}
.linkedin {
    display: flex;
    padding-right: 1em;
}

